<div>
    <h3>Agregar noticia</h3>
    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo" [(ngModel)]="noticiaNueva.titulo" placeholder="Ultima hora...">
    </div>
    <div>
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" [(ngModel)]="noticiaNueva.descripcion" placeholder="Hemos encontrado algo interesante que contar...">
    </div>
    <div>
        <label for="enlace">Enlace</label>
        <input id="enlace" [(ngModel)]="noticiaNueva.enlace" placeholder="https://unitec.edu">
    </div>
    <div>
        <label for="fecha">Fecha</label>
        <input id="fecha" [(ngModel)]="noticiaNueva.fecha" placeholder="Hace unos instantes">
    </div>
    <div>
        <label for="portada-src">Imagen portada</label>
        <input id="portada-src" [(ngModel)]="noticiaNueva.portada.src" placeholder="https://unitec.edu/imagen.png">
    </div>
    <div>
        <label for="portada-alt">Descripcion portada</label>
        <input id="portada-alt" [(ngModel)]="noticiaNueva.portada.alt" placeholder="Encabezado del titular">
    </div>
    <button (click)="agregarNoticia()">Agregar noticia</button>
</div>

<app-noticia *ngFor="let noticia of noticias" [noticia]="noticia"></app-noticia>
