.error{
    background-color: #b75454 ;
    color: white;
    padding: 1em;
    border-radius: 5px;
}

.advertencia{
    background-color: #b0b754 ;
    color: rgb(132, 66, 0);
    padding: 1em;
    border-radius: 5px;
}